<h1>Add Flight</h1>

<form action="/flight/add" method="post">
  <p>
    <label>Airline</label>
    <input type="text" name="airline" id="airline" placeholder="Airline" />
  </p>
  <p></p>
  <p>
    <label>Airport</label>
    <input type="text" name="airport" id="airport" value="DEN" />
  </p>
  <p>
    <label>Flight Number</label>
    <input
      type="number"
      name="flightNo"
      id="flightNo"
      placeholder="Flight Number"
    />
  </p>
  <% const dateHolder = Date.now() + 31540000000 %>
  <% const newDate = new Date(dateHolder).toISOString().slice(0,16) %>

  

  <p>
    <label>Departs</label>
    <input
      type="datetime-local"
      name="departs"
      id="departs"
      value=<%=newDate%> />
  </p>



  <button type="submit">Create Flight</button>
</form>
