<h1>Add Review</h1>

<form action="/movie/add" method="post">
  <div>
    <label>Name</label>
    <input type="text" name="start" id="start" />
  </div>
  <div>
    <label>Reviews</label>
    <textarea name="review" id="review"></textarea>
  </div>
  <div>
    <label>Date</label>
    <input type="number" name="date" id="date" />
  </div>
  <div>
    <label>Airline</label>
    <input type="text" name="airline" id="airline" />
  </div>
  <button type="submit">Create Flight</button>
</form>
