<h1>Add Flight</h1>

<form action="/article/add" method="post">
  <div>
    <label>Starts</label>
    <input type="text" name="start" id="start" />
  </div>
  <div>
    <label>Ends</label>
    <textarea name="end" id="end"></textarea>
  </div>
  <div>
    <label>Date</label>
    <input type="number" name="date" id="date" />
  </div>
  <div>
    <label>Airline</label>
    <input type="text" name="airline" id="airline" />
  </div>
  <button type="submit">Create Flight</button>
</form>
