<h1>Add Movie</h1>

<form action="/movie/add" method="post">
  <div>
    <label>Movie</label>
    <input type="text" name="name" id="name" />
  </div>

  <button type="submit">Create Movie</button>
</form>
