<h1>Add Review</h1>

<form action="/movie/add" method="post">
  <div>
    <label>Review</label>
    <textarea name="review" id="review"></textarea>
  </div>

  <button type="submit">Create Movie</button>
</form>
