<h1>Add Review</h1>

<form action="/movie/addreview" method="post">
  <div>
    <label>Review</label>
    <textarea name="review" id="review"></textarea>
  </div>

  <button type="submit">Create Review</button>
</form>
